@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1a1a;
  background-color: #ededed;
}

.slider-container {
  /* width: 85%; */
  margin: auto;
}

.active {
  background-color: #d1ad78;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
