@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1a1a;
  background-color: #ededed;
}

/* li::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: rgb(112, 42, 42);
  margin-right: 1rem;
  padding-left: 1rem;
} */
