@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1a1a;
  background-color: #ededed;
}

.slider-container {
  /* width: 85%; */
  margin: auto;
}

.active {
  background-color: #d1ad78;
}
